{% extends 'base.html' %}
{% block content %}
<div class="p-3">
  <div class="container">
    <div class="row mt-3">
      <div class="col mx-auto mb-3">
        <h2>Hidden Movies</h2>
        <hr />
      </div>
    </div>
    <div class="row">
      {% for movie in template_data.movies %}
      <div class="col-md-4 col-lg-3 mb-2">
        <div class="p-2 card align-items-center pt-4">
          <img src="{{ movie.image.url }}"
            class="card-img-top rounded img-card-200">
          <div class="card-body text-center">
            <a href="{% url 'movies.show' id=movie.id %}"
              class="btn bg-dark text-white">
            {{ movie.name }}
            </a>
            <form method="post" action="{% url 'movies.unhide' id=movie.id %}" style="display:inline;">
              {% csrf_token %}
              <button type="submit" class="btn btn-success mt-2">Unhide</button>
            </form>
          </div>
        </div>
      </div>
      {% empty %}
      <div class="col mx-auto mb-3">
        <p>No hidden movies.</p>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock content %}
